<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ripple.Testing.NUnit3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ripple.Testing.NUnit3.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>Nick</value>
            </setting>
            <setting name="RIPPLED_BINARY" serializeAs="String">
                <value>C:\rippled\build\rippled.exe</value>
            </setting>
        </Ripple.Testing.NUnit3.Properties.Settings>
    </userSettings>
</configuration>