<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Altus.Saltable" version="1.0.1" targetFramework="net452" />
  <package id="Baseclass.Contrib.Nuget.Output" version="1.0.0" targetFramework="net452" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="CGenT.Bouncy" version="1.8.5717.43026" targetFramework="net452" />
  <package id="libsodium-net" version="0.8.0" targetFramework="net452" />
</packages>